{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}

        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    {% block css_add %}

    {% endblock %}
</head>
<body>
<header class="header" id="header">
    <div class="conteiner header_wrap">
        <nav>
            {% block nav %}
                {% if request.user.is_authenticated %}
                    <ul>
                        <li>
                            <a href="{% url 'blog_app:index' %}">Главная</a>
                        </li>
                        <li>
                            <a href="{% url 'blog_app:create_blog' user.pk %}">Добавить статью</a>
                        </li>
                        <li>
                            <a href="{% url 'blog_app:user_list' %}">Список пользователей</a>
                        </li>
                        <li>
                            <a href="{% url 'blog_app:about-me' %}">Профиль</a>
                        </li>
                        <li>
                            <p style="color: rgb(225,136,41); border: none"> {{ user.username }}</p>
                        </li>
                        <p style="border: none">|</p>
                        <li>
                            <a href="{% url 'blog_app:logout' %}">Выход</a>
                        </li>
                    </ul>
                {% else %}
                    <ul>
                        <li>
                            <a href="{% url 'blog_app:index' %}">Главная</a>
                        </li>
                        <li>
                            <a href="{% url 'blog_app:login' %}">Вход</a>
                        </li>
                        <li>
                            <a href="{% url 'blog_app:register' %}">Регистрация</a>
                        </li>
                    </ul>
                {% endif %}
            {% endblock %}
        </nav>
    </div>
</header>

<section>
    <div class="conteiner section_wrap">
        {% block body %}

        {% endblock %}
    </div>
</section>

</body>
</html>