{% extends 'blog_app/base.html' %}

{% block title %}
    Создать статью
{% endblock %}

{% block body %}
    <h1>Создать новую статью</h1>
    <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.as_p }}
            <div class="conteiner_pub">
                <button type="submit" class="pub_button">
                    <a class="button_edit_profile" href="{% url 'blog_app:create_blog' user.pk %}">
                        Создать статью
                    </a>
                </button>
            </div>
        </form>
    </div>
{% endblock %}