{% extends 'blog_app/base.html' %}

{% block title %}
    Создать статью
{% endblock %}

{% block body %}
    <h1>Создать новую статью</h1>
    <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            {{ file_form.as_p }}
            <div class="conteiner_pub">
                <button type="submit" class="pub_button">
                    Создать статью
                </button>
            </div>
        </form>
    </div>
{% endblock %}