{% extends 'blog_app/base.html' %}
{% load static %}

{% block css_add %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block title %}
    Блог
{% endblock %}

{% block body %}
    <h1>Статьи</h1>
    {% if blogs %}
        {% for blog in blogs %}
            <div class="blog_contant">
                <div class="blog_title">{{ blog.title }}</div>
                <div class="blog_creation_time">
                    {{ blog.create_data_time|date:"D d M Y" }} {{ blog.create_data_time|time:"H:i" }}
                </div>
                <div class="blog_articles">{{ blog.articles }}</div>
                <div class="blog_gal">
                    {#                    <img src="{{ blog.bloggallery.gallery.url }}" alt="{{ blog.bloggallery.gallery.name }}">#}
                    {% for img in blog.gallery.all %}
                        <img src="{{ img.gallery.url }}" alt="{{ img.gallery.name }}">
                    {% empty %}
                    {% endfor %}

                </div>
                <div class="blog_user">Пользователь:{{ blog.user }}</div>
            </div>
        {% endfor %}

    {% else %}
        <h3>Статей нет</h3>
    {% endif %}


{% endblock %}