{% extends 'blog_app/base.html' %}
{% load static %}
{% block title %}
    Редактировать профиль
{% endblock %}

{% block body %}
    <h1>Редактировать профиль</h1>
    <div class="conteiner_update">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="conteiner_update_form">
                {{ form.as_p }}
            </div>
            <div class="conteiner_pub">
                <button class="pub_button" type="submit">
                    Внести изменения
                </button>
            </div>
        </form>
    </div>
{% endblock %}