{% extends 'blog_app/base.html' %}
{% load static %}
{% block title %}
    Редактировать профиль
{% endblock %}

{% block body %}
    <h1>Редактировать профиль</h1>
    <div>
        <form method="post">
            {% csrf_token %}

            {{ form.as_p }}
            <div class="content_button">
                <button class="edit_profile" type="submit">
                    <a class="button_edit_profile" href="{% url 'blog_app:profile_update_form' %}">Внести изменения</a>
                </button>
            </div>
        </form>
    </div>
{% endblock %}