{% extends 'blog_app/base.html' %}
{% load static %}
{% block title %}
    User list

{% endblock %}

{% block body %}
    <h1>Список ползователей</h1>
    <div class="conteiner_user_list">
        {% for user in users %}
            <a href="{% url 'blog_app:user_details' user.pk %}">
                <div class="conteiner_user">
                    <div class="avatar_user_list">
                        {% if user.profile.avatar %}
                            <img src="{{ user.profile.avatar.url }}" alt="{{ user.profile.avatar.name }}">
                        {% else %}
                            <img src="{% static "img/no_foto.png" %}" alt="">
                        {% endif %}

                    </div>
                    <div class="conteiner_user_info">
                        Имя пользователя: {{ user.username }}<br>
                        Имя: {{ user.first_name }}<br>
                        Фамилия: {{ user.last_name }}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>


{% endblock %}